body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1d1007;
	line-height:24px
}

table thead {
    display: block;
	width: 100%
}

table tbody {
    height: 600px;
    display: inline-block;
    width: 100%;
    overflow-y: auto;
	overflow-x: hidden
}

table thead, tbody tr{
	display:table;
	width:100%;
	table-layout:fixed
}

table{
	margin:auto;
	width:90%;
	border:none;
	border-collapse:collapse;
	display:block
}

img{
	max-height: 100px;
	max-width: 100px
}

td,th{
	border:1px solid #fff;
	text-align:center;
	height:20px
}

tbody tr:nth-child(even){
	background:#f2f2f2;
	color:#000
}

table td:nth-child(3){
	background:#ffffff;
	color:#cccaaa;
}

thead tr:nth-child(1){
	background:#46a3ff;
	color:#000;
	font-weight:bold
}

tbody tr:hover{
	background:#9d9AF4;
	colre:#666;
}